
@font-face{
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}
@font-face{
    font-family: Adamina;
    src: url('../fonts/Adamina/Adamina-Regular.ttf');
}
@font-face{
    font-family: Amaranth;
    src: url('../fonts/Amaranth/Amaranth-Regular.ttf');
}
@font-face{
    font-family: Andika;
    src: url('../fonts/Andika/Andika-Regular.ttf');
}
@font-face{
    font-family: Anek;
    src: url('../fonts/Anek_Telugu/static/AnekTelugu-Regular.ttf');
}
