@import url('./fonts.css');

:root {
  --Livvic: 'Livvic', cursive;
  --Andika: 'Andika', cursive;
  --Amaranth: 'Amaranth', cursive;
  --Adamina: 'Adamina', cursive;
  --Anek: 'Anek', cursive;

  --blue: #f9a602;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  font-family: var(--Livvic);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section.home {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--blue);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding: 1.8rem 4rem;
}

.btn:hover {
  background: var(--blue);
  letter-spacing: .1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 3rem;
  font-weight: bolder;
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--blue);
}

header .icons svg {
  cursor: pointer;
  margin-left: .5rem;
  height: 3.8rem;
  line-height: 3.8rem;
  width: 3.8rem;
  text-align: center;
  font-size: 2.7rem;
  font-weight: bolder;
  color: var(--black);
}

header .icons,
header .icons #menu-bars {
  display: none;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .content span {
  color: var(--blue);
  font-size: 2.2rem;
}

.home .home-slider .slide .content h3 {
  color: var(--black);
  font-size: 5.5rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2rem;
  padding:.5rem 0;
  line-height: 1.5;
}

.utilities .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.utilities .box-container .box {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.utilities .box-container .box img {
  margin: 1rem 0;
}

.utilities .box-container .box h3 {
  color: var(--black);
  font-family: var(--Livvic);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.electric{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: #eee;
  padding-bottom: 70px;
}

.electric form{
  padding: 20px;
  margin-top: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.electric form .row{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.electric form h1{
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--Abel);
}

.electric form .row .col{
  flex: 1 1 250px;
}

.electric form .row .col .inputBox{
  margin: 15px 0;
  padding-bottom: 60px;
}

.electric form .row .col .inputBox span{
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.electric form .row .col .inputBox input{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
}

.electric form .row .col .inputBox input:focus{
  border: 1px solid #000;
}

.electric form .row .col .flex .inputBox{
  margin-top: 5px;
}

.electric form .submit-btn{
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--black);
  color: white;
  cursor: pointer;
  margin-top: 5px;
}

.electric form .home-btn{
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--black);
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.electric form .home-btn:hover,
.electric form .submit-btn:hover{
  background: var(--blue);
  letter-spacing: .1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.api-message {
  font-size: 16px;
  padding-bottom: 5px;
}

.api-message .api-message-heading {
  font-weight: 600;
}

.api-message .api-amount {
  padding-left: 7px;
}

.electric form .row .col .inputBox select{
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
}

.electric form .row .col .inputBox select:focus{
  border: 1px solid #000;
}

.electric form .row .col .inputBox select:hover{
  cursor: pointer;
}

















@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }
  
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .icons,
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
}

@media (max-width: 767px) {
  .home .home-slider .slide .image img {
    display: none;
  }

  .home .home-slider .slide .content {
    text-align: center;
  }

  .home .home-slider .slide {
    padding-top: 8rem;
  }

  .home .home-slider .slide .content h3,
  .home .home-slider .slide .content p {
    padding-top: 3rem;
  }

  .home .home-slider .slide .content a {
    margin-top: 3rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}